<header class="header">
  <a routerLink="/" class="logo"> PETHUB </a>

  <nav class="button-group">
    <button routerLink="/announcements" routerLinkActive="active">
      Доска объявлений
    </button>
    <button routerLink="/marketplace" routerLinkActive="active">
      Торговая площадка
    </button>
    <button routerLink="/community" routerLinkActive="active">
      Сообщество
    </button>
  </nav>
  <div class="button-reg">
    <img src="assets/icons/user.svg" alt="User" width="32" height="32" />
  </div>
</header>
