<div class="user-profile">
  <section class="user-info">
    <h2>Личная информация</h2>
    <p><strong>Константин Бердников</strong></p>
    <p><strong>Email:</strong> berdnikovk354&#64;gmail.com</p>
    <p><strong>Город:</strong> Норильск</p>
  </section>

  <section class="pets-section">
    <h2>Мои питомцы</h2>
    <div class="pet-cards">
      <div class="pet-card" *ngFor="let pet of pets">
        <div class="pet-avatar"></div>
        <h3>{{ pet.name }}</h3>
        <p>{{ pet.description }}</p>
      </div>
    </div>
  </section>
</div>
